[submodule "workflow/snakemake_profiles"]
path = workflow/snakemake_profiles
url = https://github.com/friendsofstrandseq/snakemake_profiles
branch = main
[submodule "workflow/data"]
path = workflow/data
url = https://github.com/friendsofstrandseq/mosaicatcher-referencedata
branch = main
[submodule ".tests"]
path = .tests
url = https://github.com/friendsofstrandseq/mosaicatcher-testdata
branch = main
