.DS_Store
.vscode/
.snakemake/
#bam/
*@
chroms/
counts/
log/
plots/
segmentation/
segmentation2/
snv_calls/
strand_states/
sv_probabilities/
*.png
*.pdf
*.svg
#workflow/.snakemake
build/
.panoptes.db
*.html
__pycache__
workflow/scripts/__pycache__
*.pyc
# afac/
*.zip
*.db
workflow/static/
!docs/mosaic_logo.png
config/config_df.tsv
config/exclude_file.txt