# Hidden folders & files
.DS_Store
.tests/._.DS_Store
.vscode/
.snakemake/
.panoptes.db
._.DS_Store
.pytest_cache/
.condarc
files.txt
workflow/.conda/
.local/share/jupyter/
.jupyter/

# Tmp files & execution outputs
*.pyc
*.zip
*.gz
*.db
*.png
*.pdf
*.svg
*.tsv
*.csv

# Links
*@

# Mosaicatcher folders
chroms/
counts/
log/
plots/
segmentation/
segmentation2/
snv_calls/
strand_states/
sv_probabilities/
workflow/config/config_df.tsv
workflow/config/exclude_file.txt
workflow/config/exclude_file

# Docs
docs/build/
build/
*.html
workflow/static/

# Python
__pycache__
workflow/scripts/__pycache__

# HTTP
s3-us-west-2.amazonaws.com/
hgdownload.soe.ucsc.edu/
.ipynb_checkpoints/

# REF GENOMES
workflow/data/ref_genomes/

# Zenodo
workflow/sandbox.zenodo.org/
sandbox.zenodo.org/
sandbox.zenodo.org
TEST_OUTPUT/
TEST_OUTPUT
workflow/test.txt
.snakemake

# Exceptions
!docs/images/plots/
!docs/images/plots/*.png
!docs/images/*.png
!workflow/data/segdups/segDups_hg38_UCSCtrack.bed.gz
!workflow/data/segdups/segDups_hg19_UCSCtrack.bed.gz
!workflow/data/segdups/segDups_T2T_UCSCtrack.bed.gz
!workflow/data/bin_200kb_all.bed
!workflow/data/normalization/*
!config/config.yaml
!config/*

# GitHub actions
## UNIT TEST
.tests/unit/

## OUTPUT TEST
.tests/output*/

## DATA
.tests/data_CHR21_BAK/
.tests/data_CHR21_LITE_FNA/
.tests/data_HG19/
.tests/data_T2T/
.tests/data/RPE-BM510/all/*.bai
.tests/data/RPE-BM510/all/*.bam
.tests/data/RPE-BM510/all/*.log
.tests/data/RPE-BM510/all/PE*.bam

.tests/data/RPE-BM510/selected/*.bai
.tests/data/RPE-BM510/selected/*.log
.tests/data/RPE-BM510/selected/PE*.bam

.tests/data/RPE-BM510/all_bak/
.tests/data/RPE-BM510/fastq/
.tests/data/RPE-BM510/predictions/
.tests/data/RPE-BM510/cell_selection/
.tests/data/RPE-BM510/all_BM/
.tests/data/RPE-BM510/all_PE/
.tests/data/RPE-BM510/selected_BM/
.tests/data/RPE-BM510/selected_PE/

## DATA CHR21
.tests/data_CHR17_NEW/
.tests/data_CHR17_POSITIVE_CONTROL/
.tests/data_CHR17_*/
.tests/data_CHR17/RPE-BM510/all/*.bai
.tests/data_CHR17/RPE-BM510/bam/*.bai
.tests/data_CHR17/RPE-BM510/bam/*.sort.mdup.bam.bai
.tests/data_CHR21/RPE-BM510/all/*.bam
.tests/data_CHR21/RPE-BM510/bam/*.bam
.tests/data_CHR17/RPE-BM510/all/*.log
.tests/data_CHR17/RPE-BM510/bam/*.log
.tests/data_CHR17/config/
.tests/data_CHR17/RPE-BM510/cell_selection/
.tests/data_CHR17/RPE-BM510/ashleys_counts/
.tests/data_CHR17/RPE-BM510/config/
.tests/data_CHR17/RPE-BM510/predictions/
.tests/data_CHR17/RPE-BM510/merged_bam/
.tests/data_CHR17/RPE-BM510/alfred/
.tests/data_CHR17/RPE-BM510/ploidy/
.tests/data_CHR17/RPE-BM510/selected/
.tests/data_CHR17/RPE-BM510/strandphaser/
.tests/data_CHR17/RPE-BM510/mosaiclassifier/
.tests/data_CHR17/RPE-BM510/haplotag/
# .tests/data_CHR17/RPE-BM510/

.tests/data_CHR21/RPE-BM510/alfred/
.tests/data_CHR21/RPE-BM510/ploidy/
.tests/data_CHR21/RPE-BM510/selected/
.tests/data_CHR21/RPE-BM510/strandphaser/
.tests/data_CHR21/RPE-BM510/haplotag/
.tests/data_CHR21/RPE-BM510/predictions/
.tests/data_CHR21/RPE-BM510/cell_selection/

## DATA EXCEPTIONS
!.tests/data_CHR17/RPE-BM510/fastq/*.fastq.gz
!.tests/data_CHR17/RPE-BM510/all/BM*.sort.mdup.bam
!.tests/data_CHR17/RPE-BM510/bam/BM*.sort.mdup.bam
!.tests/external_data/chr17.fa.gz
!.tests/external_data/chr17.fa.gz.fai
.tests/external_data/chr17.fa.gz.amb
.tests/external_data/chr17.fa.gz.ann
.tests/external_data/chr17.fa.gz.bwt
.tests/external_data/chr17.fa.gz.gzi
.tests/external_data/chr17.fa.gz.log
.tests/external_data/chr17.fa.gz.pac
.tests/external_data/chr17.fa.gz.sa
# Dev
discover_big_files_git.sh
builds/
workflow/report_TALL/
# *.bam
# *.bai
workflow/TEST_EXAMPLE_DATA/
TEST_EXAMPLE_DATA
TEST_EXAMPLE_DATA/
workflow/logs/
logs/
workflow/errors/
errors/
TEST.info
TEST*
TEST*/
.cache/fontconfig/
.oracle_jre_usage/
TMP/

# git

## Others
afac/paper_related/
# workflow/.snakemake
# bam/

## Personal note: files/folders specific to dev branch
# .gitlab-ci.yml // to use with LFS example data in dev branch
# singularity/ folder
# afac/ debugging & dev folder
.cache/
.config/

.java/
# .tests/external_data/chr17.fa.gz.amb
log.txt
.nfs00000000002b143a000012cb
workflow/data/arbigent/mapping_*
workflow/data/scNOVA/
workflow/data/scNOVA_data_models.tar.gz
afac/zenodo_push.py
cluster*
workflow/data/zenodo_filelist.txt
workflow/data/scNOVA_zenodo_filelist.txt
workflow/data/mapping_counts_allchrs_hg38.txt
workflow/data/arbigent/scTRIP_segmentation.bed
!workflow/data/GC/*.txt.gz
