.DS_Store
.vscode
.snakemake/
bam/
*@
chroms/
counts/
log/
plots/
segmentation/
segmentation2/
snv_calls/
strand_states/
sv_probabilities/
*.png
*.pdf
*.svg
#workflow/.snakemake
build/
.panoptes.db
*.html
workflow/scripts/__pycache__
__pycache__
afac/
*.zip
*.db
workflow/static/