#============== StrandPhaseR configuration file ===============#

[General]
numCPU  =  1 
chromosomes  =  c('chr22','chr21') 
pairedEndReads  =  TRUE 
min.mapq  =  10 

[StrandPhaseR]
positions  = NULL 
WCregions  =  NULL 
min.baseq  =  20 
num.iterations  =  2 
translateBases  =  TRUE 
fillMissAllele  =  NULL 
splitPhasedReads  =  TRUE 
callBreaks  =  FALSE 
exportVCF  =  'D2Rfb' 
bsGenome  =  'BSgenome.Hsapiens.UCSC.hg19' 
