#brand {
    margin: auto;
    height: 60px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-image: url(../../docs/mosaic_logo.png)
}