name: MosaiCatcher assemblies checks

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Log level"
        required: true
        default: "warning"
        type: choice
        options:
          - info
          - warning
          - debug

jobs:
  Testing-with-hg38:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository with submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Git Submodule Update
        run: |
          git submodule update --remote --recursive --force --init

      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: latest
          cache: true
          locked: false

      - name: Cache Conda environments
        uses: actions/cache@v4
        with:
          path: .snakemake/conda
          key: conda-envs-${{ hashFiles('workflow/envs/*.yaml') }}
          restore-keys: |
            conda-envs-

      - name: Run workflow (hg38 v9)
        run: |
          pixi run snakemake \
            --cores 1 \
            --sdm conda \
            --config reference=hg38 use_light_data=True chromosomes=[chr17] ashleys_pipeline=True \
            --conda-cleanup-pkgs cache \
            -p \
            --snakefile workflow/Snakefile

  Testing-with-hg19:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository with submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Git Submodule Update
        run: |
          git submodule update --remote --recursive --force --init

      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: latest
          cache: true
          locked: false

      - name: Cache Conda environments
        uses: actions/cache@v4
        with:
          path: .snakemake/conda
          key: conda-envs-${{ hashFiles('workflow/envs/*.yaml') }}
          restore-keys: |
            conda-envs-

      - name: Run workflow (hg19 v9)
        run: |
          pixi run snakemake \
            --cores 1 \
            --sdm conda \
            --config reference=hg19 use_light_data=True chromosomes=[chr17] ashleys_pipeline=True \
            --conda-cleanup-pkgs cache \
            -p \
            --snakefile workflow/Snakefile

  Testing-with-T2T:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository with submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Git Submodule Update
        run: |
          git submodule update --remote --recursive --force --init

      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: latest
          cache: true
          locked: false

      - name: Cache Conda environments
        uses: actions/cache@v4
        with:
          path: .snakemake/conda
          key: conda-envs-${{ hashFiles('workflow/envs/*.yaml') }}
          restore-keys: |
            conda-envs-

      - name: Run workflow (T2T v9)
        run: |
          pixi run snakemake \
            --cores 1 \
            --sdm conda \
            --config reference=T2T use_light_data=True chromosomes=[chr17] ashleys_pipeline=True \
            --conda-cleanup-pkgs cache \
            -p \
            --snakefile workflow/Snakefile

  Testing-with-mm10:
    runs-on: ubuntu-latest
    # needs:
    #   - Formatting
    #   - Linting
    #   - Testing-basic-v7
    #   - Testing-basic-with-ashleys
    # - Testing-basic-with-slurm
    steps:
      - name: Checkout repository with submodules and LFS
        uses: actions/checkout@v4
        with:
          submodules: recursive
          # lfs: true

      - name: Git Submodule Update
        run: |
          # git pull --recurse-submodules
          git submodule update --remote --recursive --force --init

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Add Conda to system path
        run: echo "$CONDA/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: conda install -c conda-forge mamba

      - name: Setup Snakemake
        run: mamba install -c conda-forge -c bioconda snakemake==7.32.4

      - name: List options of workflow
        run: |
          snakemake --cores 1 --config list_commands=True --verbose --debug

      - name: Run workflow
        run: |
          snakemake --cores 1 --use-conda --config reference=T2T use_light_data=True chromosomes=[chr17] ashleys_pipeline=True \
          --conda-frontend mamba -p --verbose --debug --snakefile workflow/Snakefile
