name: MosaiCatcher assemblies checks

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Log level"
        required: true
        default: "warning"
        type: choice
        options:
          - info
          - warning
          - debug

jobs:
  test-assembly:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          # Genomes with pre-built BWA indexes from AWS iGenomes
          - genome: hg38
            igenomes_base: "https://ngi-igenomes.s3.amazonaws.com/igenomes/Homo_sapiens/UCSC/hg38/Sequence"
            chromosome: "chr17"
            ashleys_pipeline: "False"
            hgsvc_based_normalized_counts: "True"
            ploidy: "True"
            data_location: ".tests/data_CHR17"
            extra_args: ""

          - genome: hg19
            igenomes_base: "https://ngi-igenomes.s3.amazonaws.com/igenomes/Homo_sapiens/UCSC/hg19/Sequence"
            chromosome: "chr17"
            ashleys_pipeline: "True"
            hgsvc_based_normalized_counts: "False"
            ploidy: "True"
            data_location: ".tests/data_CHR17"
            extra_args: ""

          - genome: T2T
            igenomes_base: "https://ngi-igenomes.s3.amazonaws.com/igenomes/Homo_sapiens/UCSC/CHM13/Sequence"
            chromosome: "chr17"
            ashleys_pipeline: "True"
            hgsvc_based_normalized_counts: "False"
            ploidy: "True"
            data_location: ".tests/data_CHR17"
            extra_args: "--retries 3 --latency-wait 60"

          - genome: mm10
            igenomes_base: "https://ngi-igenomes.s3.amazonaws.com/igenomes/Mus_musculus/UCSC/mm10/Sequence"
            chromosome: "chr19"
            ashleys_pipeline: "True"
            hgsvc_based_normalized_counts: "False"
            ploidy: "False"
            data_location: ".tests/data_chr19_mm"
            extra_args: ""

          # mm39 - disabled until we build our own reference (not available in iGenomes)
          # - genome: mm39
          #   igenomes_base: ""
          #   chromosome: "chr19"
          #   ashleys_pipeline: "True"
          #   hgsvc_based_normalized_counts: "False"
          #   ploidy: "False"
          #   data_location: ".tests/data_chr19_mm"
          #   extra_args: ""

    name: Test ${{ matrix.genome }}
    steps:
      - name: Checkout repository with submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Git Submodule Update
        run: |
          git submodule update --recursive --init

      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: latest
          cache: true
          locked: false

      - name: Restore Conda environments cache
        id: cache-conda-restore
        uses: actions/cache/restore@v4
        with:
          path: .snakemake/conda
          key: conda-envs-${{ hashFiles('workflow/envs/*.yaml') }}
          restore-keys: |
            conda-envs-

      - name: Restore ${{ matrix.genome }} reference genome and BWA indexes
        id: cache-reference-restore
        uses: actions/cache/restore@v4
        with:
          path: |
            workflow/data/ref_genomes/${{ matrix.genome }}.fa
            workflow/data/ref_genomes/${{ matrix.genome }}.fa.amb
            workflow/data/ref_genomes/${{ matrix.genome }}.fa.ann
            workflow/data/ref_genomes/${{ matrix.genome }}.fa.bwt
            workflow/data/ref_genomes/${{ matrix.genome }}.fa.pac
            workflow/data/ref_genomes/${{ matrix.genome }}.fa.sa
            workflow/data/ref_genomes/${{ matrix.genome }}.fa.fai
          key: ${{ matrix.genome }}-reference-v2
          restore-keys: |
            ${{ matrix.genome }}-reference-

      - name: Download ${{ matrix.genome }} from AWS iGenomes (if not cached)
        if: steps.cache-reference-restore.outputs.cache-hit != 'true'
        run: |
          mkdir -p workflow/data/ref_genomes
          IGENOMES_BASE="${{ matrix.igenomes_base }}"

          echo "Downloading ${{ matrix.genome }} reference genome from iGenomes..."
          wget -q -O workflow/data/ref_genomes/${{ matrix.genome }}.fa "${IGENOMES_BASE}/WholeGenomeFasta/genome.fa"

          echo "Downloading BWA indexes..."
          for ext in amb ann bwt pac sa; do
            wget -q -O workflow/data/ref_genomes/${{ matrix.genome }}.fa.${ext} "${IGENOMES_BASE}/BWAIndex/genome.fa.${ext}"
          done

          echo "Downloading faidx..."
          wget -q -O workflow/data/ref_genomes/${{ matrix.genome }}.fa.fai "${IGENOMES_BASE}/WholeGenomeFasta/genome.fa.fai"

          echo "Reference preparation complete:"
          ls -lh workflow/data/ref_genomes/${{ matrix.genome }}.fa*

      - name: Save ${{ matrix.genome }} reference cache (after download)
        if: steps.cache-reference-restore.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: |
            workflow/data/ref_genomes/${{ matrix.genome }}.fa
            workflow/data/ref_genomes/${{ matrix.genome }}.fa.amb
            workflow/data/ref_genomes/${{ matrix.genome }}.fa.ann
            workflow/data/ref_genomes/${{ matrix.genome }}.fa.bwt
            workflow/data/ref_genomes/${{ matrix.genome }}.fa.pac
            workflow/data/ref_genomes/${{ matrix.genome }}.fa.sa
            workflow/data/ref_genomes/${{ matrix.genome }}.fa.fai
          key: ${{ matrix.genome }}-reference-v2

      - name: Run workflow (${{ matrix.genome }})
        run: |
          pixi run snakemake \
            --cores 1 \
            --sdm conda \
            --local-storage-prefix $GITHUB_WORKSPACE \
            --config reference=${{ matrix.genome }} data_location=${{ matrix.data_location }} use_light_data=True chromosomes=[${{ matrix.chromosome }}] ashleys_pipeline=${{ matrix.ashleys_pipeline }} hgsvc_based_normalized_counts=${{ matrix.hgsvc_based_normalized_counts }} ploidy=${{ matrix.ploidy }} \
            --conda-cleanup-pkgs cache \
            ${{ matrix.extra_args }} \
            -p \
            --snakefile workflow/Snakefile

      - name: Save Conda environments cache
        if: always()
        uses: actions/cache/save@v4
        with:
          path: .snakemake/conda
          key: conda-envs-${{ hashFiles('workflow/envs/*.yaml') }}
