name: Build container

on:
  push:
    tags:
      - "*"

jobs:
  build_mc_container:
    name: Build and push image
    runs-on: ubuntu-20.04
    env:
      IMAGE_NAME: mosaicatcher-pipeline
    steps:
      - uses: actions/checkout@v2
      - name: Run read-yaml action
        id: yaml-data
        uses: jbutcher5/read-yaml@main      # You may wish to replace main with a version tag such as '1.6' etc.
        with:
          file: './config/config.yaml'
          key-path: '["version"]' # Access the runs key then the using key and retuns the value.

      - name: Display read-yaml output
        run: echo "${{ steps.yaml-data.outputs.data }}"
      - name: Build Image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ env.IMAGE_NAME }}
          tags: "${{ steps.yaml-data.outputs.data }}"
          dockerfiles: |
            ./github-actions-runner/Dockerfile_complete.dockerfile
            
      - name: Push To DockerHub
        id: push-to-dockerhub
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: docker.io/weber8thomas
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Use the image
        run: echo "New images has been pushed to ${{ steps.push-to-quay.outputs.registry-paths }}"
  # build_full_container:
  #   name: Build and push image
  #   runs-on: ubuntu-20.04
  #   env:
  #     IMAGE_NAME: ashleys-mosaicatcher-pipeline
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Set output
  #       id: vars
  #       run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}
  #     - name: Build Image
  #       id: build-image
  #       uses: redhat-actions/buildah-build@v2
  #       with:
  #         image: ${{ env.IMAGE_NAME }}
  #         tags: ${{ steps.vars.outputs.tag }}
  #         dockerfiles: |
  #           ./github-actions-runner/Dockerfile_complete.dockerfile
  #     - name: Push To DockerHub
  #       id: push-to-dockerhub
  #       uses: redhat-actions/push-to-registry@v2
  #       with:
  #         image: ${{ steps.build-image.outputs.image }}
  #         tags: ${{ steps.build-image.outputs.tags }}
  #         registry: docker.io/weber8thomas
  #         username: ${{ secrets.DOCKER_USERNAME }}
  #         password: ${{ secrets.DOCKER_TOKEN }}
  #     - name: Use the image
  #       run: echo "New images has been pushed to ${{ steps.push-to-quay.outputs.registry-paths }}"
